@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");

* {
  max-width: 1920px !important;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.classes {
  background-color: #1a1a1b;
  color: white;
  min-height: 100vh;
}

.logo {
  max-width: 200px !important;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  flex: 1;
  cursor: pointer;
}

.banner {
  background-image: url("../public/banner.jpg");
}

.coinLogo {
  display: block;
  max-width: 150px !important;
  margin-bottom: 15px;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
}

.bannerContent {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.carousel {
  height: 100%;
  display: flex;
  align-items: center;
}

.carouselItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  background-color: #00000065;
  width: 120px;
  max-width: 150px;
  height: 165px;
  margin-right: auto;
  margin-left: auto;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  border-radius: 10%;
}

.row {
  background-color: #007bff45;
  cursor: pointer;
  font-family: "Oswald", sans-serif !important;
}

.row:hover {
  background-color: #2e9dffaf;
}

.MuiPaginationItem-root {
  color: #2e9dffaf !important;
}

.containerChart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  border-right: 2px solid grey;
  align-items: center;
}

.chartPicture {
  max-height: 150px !important;
  max-width: 150px !important;
  min-width: 100px;
  min-height: 100px;
  margin: 20px 20px 20px 20px;
  width: 100%;
}

.heading {
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif !important;
}

.description {
  width: 100%;
  font-family: "Oswald", sans-serif !important;
  padding: 25px;
  padding-bottom: 15px;
  padding-top: 0px;
  text-align: justify;
}

.marketData {
  align-self: flex-start;
  padding: 25px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.containerGraph {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  padding: 40px;
}

.chartButtons {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  width: 100%;
}

.selectButton {
  border: 1px solid #2e9dffaf;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Oswald",
    sans-serif !important;
  cursor: pointer;
  background-color: #007bff45;
  text-align: center;
  width: 23%;
}

.selectButton:hover {
  background-color: #2e9dffaf;
}

.selectButton:active {
  border: 1px solid white !important;
  background-color: #1a1a1b;
}

/* medium screen chart fix */
@media only screen and (min-width: 768px) {


  .containerChart {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 100%;
  }

  .marketData {
    display: flex;
    justify-content: space-around;
  }

  .containerGraph {
    width: 100%;
    margin-top: 0px;
    padding: 20px;
    padding-top: 0px;

  }
}

/* small screen chart fix */
@media only screen and (min-width: 600px) {
  .marketData {
    flex-direction: column;
    align-items: center;
  }

}

/* extra small screen chart fix */
@media only screen and (max-width: 600px) {
  .marketData {
    align-items: flex-start;
  }
}