@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
* {
  max-width: 1920px !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.classes {
  background-color: #1a1a1b;
  color: white;
  min-height: 100vh;
}

.logo {
  max-width: 200px !important;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  flex: 1;
  cursor: pointer;
}

.banner {
  background-image: url("../public/banner.jpg");
}

.coinLogo {
  display: block;
  max-width: 150px !important;
  border: 2px rgb(255, 255, 255) solid;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: rotate 2.5s linear 0s infinite normal;
  -moz-animation: rotate 2.5s linear 0s infinite normal;
  -ms-animation: rotate 2.5s linear 0s infinite normal;
  animation: rotate 2.5s linear 0s infinite normal;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.bannerContent {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tagline {
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.carousel {
  height: 50%;
  display: flex;
  align-items: center;
}

.carouselItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
}

.row {
  background-color: #1a1a1b;
  cursor: pointer;
  font-family: "Oswald", sans-serif !important;
}

.row:hover {
  background-color: #131111;
}
