@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");

* {
  max-width: 1920px !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.classes {
  background-color: #1a1a1b;
  color: white;
  min-height: 100vh;
}

.logo {
  max-width: 200px !important;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  flex: 1;
  cursor: pointer;
}

.banner {
  background-image: url("../public/banner.jpg");
}

.coinLogo {
  display: block;
  max-width: 150px !important;
  margin-bottom: 15px;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
}

.bannerContent {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* .tagline {
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
} */

.carousel {
  height: 100%;
  display: flex;
  align-items: center;
}

.carouselItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  background-color: #00000065;
  width: 120px;
  max-width: 150px;
  height: 165px;
  margin-right: auto;
  margin-left: auto;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  border-radius: 10%;
}

.row {
  background-color: #007bff45;
  cursor: pointer;
  font-family: "Oswald", sans-serif !important;
}

.row:hover {
  background-color: #2e9dffaf;
}

.MuiPaginationItem-root {
  color: #2e9dffaf !important;
}

.containerChart {
  display: flex;
}

.sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 25;
  border-right: 2px solid grey;
}

.heading {
  font-weight: bold;
  margin-bottom: 20;
  font-family: "Oswald", sans-serif !important;
}

.chartPicture {
  margin-bottom: 20px;
}

/* medium screen chart fix */
@media only screen and (min-width: 768px) {
  .containerChart {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 100%;
  }
}